## Create a Python script that analyzes the records to calculate each of the following:

In [74]:
"""Chris Groshong: PyBank.

Python script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: budget_data.csv. 
This dataset is composed of two columns, Date and Profit/Losses.

This script that analyzes the records to calculate each of the following:
> The total number of months included in the dataset.
> The net total amount of Profit/Losses over the entire period.
> The average of the changes in Profit/Losses over the entire period.
> The greatest increase in profits (date and amount) over the entire period.
> The greatest decrease in losses (date and amount) over the entire period.

"""

'Chris Groshong: PyBank.\n\nPython script for analyzing the financial records of your company. You will be provided with a financial dataset in this file: budget_data.csv. \nThis dataset is composed of two columns, Date and Profit/Losses.\n\nThis script that analyzes the records to calculate each of the following:\n> The total number of months included in the dataset.\n> The net total amount of Profit/Losses over the entire period.\n> The average of the changes in Profit/Losses over the entire period.\n> The greatest increase in profits (date and amount) over the entire period.\n> The greatest decrease in losses (date and amount) over the entire period.\n\n'

In [75]:
# Import the pathlib and csv library
from pathlib import Path
import csv
import pandas as pd

In [76]:
# Set the file path
csvpath = Path("C:/Users/miscg/zzz/UofM-VIRT-FIN-PT-03-2022-U-LOL/02-Homework/02-Python/Instructions/PyBank/Resources/budget_data.csv")

In [77]:
#create an analysis dataframe for performing calculations
analysis_dataframe = pd.read_csv(csvpath)
#return top 5 results to test
analysis_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

### The total number of months included in the dataset.

In [83]:
#total number of months in dataset
months_total = len(analysis_dataframe)
print(f"Total number of months in dataset:  {months_total}")

Total number of months in dataset:  86

### The net total amount of Profit/Losses over the entire period.

In [84]:
#The net total amount of Profit/Losses over the entire period.
net_total = analysis_dataframe['Profit/Losses'].sum()
print(f"Net total amount of Profit/Losses over the entire period: $ {net_total:,.2f}")

Net total amount of Profit/Losses over the entire period: $ 38,382,578.00

### The average of the changes in Profit/Losses over the entire period.

In [85]:
#The average of the changes in Profit/Losses over the entire period.
analysis_mean = analysis_dataframe['Profit/Losses'].mean()
print(f"Average of the changes in Profit/Losses over the entire period: $ {analysis_mean:,.2f}")

Average of the changes in Profit/Losses over the entire period: $ 446,309.05

### The greatest increase in profits (date and amount) over the entire period.

In [127]:
#The greatest increase in profits (date and amount) over the entire period.
greatest_increase = analysis_dataframe['Profit/Losses'].max()

# find the location of the greatest inncrease in the dataframe
location_increase = analysis_dataframe.loc[analysis_dataframe['Profit/Losses'] == greatest_increase]

#set variables for greatest inscrease in dataframe for date and profit-losses at location
location_increase_date = location_increase.iat[0,0]
location_increase_profit_losses = location_increase.iat[0,1]

#print out results for greatest increase
print(f"Greatest increase in profits was on : {location_increase_date} for: $ {location_increase_profit_losses:,.2f}")

Greatest increase in profits was on : Feb-2012 for: $ 1,170,593.00

In [126]:
#testing return of values
analysis_dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

### The greatest decrease in losses (date and amount) over the entire period.

In [128]:
#The greatest decrease in losses (date and amount) over the entire period.
greatest_decrease = analysis_dataframe['Profit/Losses'].min()
print(f"Greatest decrease in losses was on : {date} for: $ {greatest_decrease:,.2f}")

Greatest decrease in losses was on : Feb-2017 for: $ -1,196,225.00

### Your final script should print the analysis to the terminal and export a text file with the results.

In [130]:
#The greatest decrease in losses (date and amount) over the entire period.
greatest_decrease = analysis_dataframe['Profit/Losses'].min()

# find the location of the greatest decrease in the dataframe
location_decrease = analysis_dataframe.loc[analysis_dataframe['Profit/Losses'] == greatest_decrease]

#set variables for greatest decrease in dataframe for date and profit-losses at location
location_decrease_date = location_decrease.iat[0,0]
location_decrease_profit_losses = location_decrease.iat[0,1]

#print out results for greatest decrease
print(f"Greatest decrease in losses was on : {location_decrease_date} for: $ {location_decrease_profit_losses:,.2f}")

Greatest decrease in losses was on : Sep-2013 for: $ -1,196,225.00

In [145]:
#EXPORT TEXT FILE
f = open("PyBank_Output.txt", "w")
f.write(f"Financial Analysis\n")
f.write(f"----------------------------\n")
f.write(f"Total Months:  {str(months_total)}\n")
f.write(f"Net total amount of Profit/Losses over the entire period: $ {net_total:,.2f}\n")
f.write(f"Average of the changes in Profit/Losses over the entire period: $ {analysis_mean:,.2f}\n")
f.write(f"Greatest increase in profits was on : {location_increase_date} for: $ {location_increase_profit_losses:,.2f}\n")
f.write(f"Greatest decrease in losses was on : {location_decrease_date} for: $ {location_decrease_profit_losses:,.2f}\n")
f.close()